In [ ]:
import pandas as pd

## Carga de los Datos

In [20]:
df=pd.read_excel("Data\\Homicidios_2014_2024.xlsx")

In [ ]:
## Agregamos una columna con el año 
df["Año"]=df["fecha_infraccion"].dt.year 

df

,tipo_muerte,zona,subzona,distrito,circuito,codigo_subcircuito,subcircuito,provincia,codigo_provincia,canton,...,sexo,genero,etnia,estado_civil,nacionalidad,discapacidad,profesion_registro_civil,instruccion,antecedentes,Año
0,HOMICIDIO,ZONA 1,ESMERALDAS,ESMERALDAS,CENTRO,08D01C13S01,CENTRO 1,ESMERALDAS,8,ESMERALDAS,...,HOMBRE,SIN_DATO,AFRO,SOLTERO,ECUADOR,NO DETERMINADO,ESTUDIANTE,SECUNDARIA,SIN_DATO,2014
1,HOMICIDIO,ZONA 6,AZUAY,PAUTE,SEVILLA DE ORO,01D06C05S01,SEVILLA DE ORO 1,AZUAY,1,SEVILLA DE ORO,...,HOMBRE,SIN_DATO,MESTIZO/A,SOLTERO,ECUADOR,NINGUNA,EMPLEADO PUBLICO,SECUNDARIA,SIN_DATO,2014
2,ASESINATO,ZONA 5,LOS RIOS,QUEVEDO,DIVINO NINO,12D03C06S01,DIVINO NINO 1,LOS RIOS,12,QUEVEDO,...,MUJER,SIN_DATO,MESTIZO/A,SOLTERO,ECUADOR,NINGUNA,QUEHACER. DOMESTICOS,PRIMARIA,SIN_DATO,2014
3,ASESINATO,ZONA 8,D.M. GUAYAQUIL,FLORIDA,MAPASINGUE,09D06C06S03,MAPASINGUE 3,GUAYAS,9,GUAYAQUIL,...,HOMBRE,SIN_DATO,MESTIZO/A,SOLTERO,ECUADOR,NINGUNA,ESTUDIANTE,PRIMARIA,SIN_DATO,2014
4,ASESINATO,ZONA 7,LOJA,CALVAS,GONZANAMA,11D06C07S01,GONZANAMA 1,LOJA,11,GONZANAMA,...,HOMBRE,SIN_DATO,MESTIZO/A,SOLTERO,ECUADOR,NINGUNA,ESTUDIANTE,BASICA,SIN_DATO,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30498,ASESINATO,ZONA 1,ESMERALDAS,SAN LORENZO,FRONTERA,08D05C01S03,FRONTERA 3,ESMERALDAS,8,SAN LORENZO,...,HOMBRE,MASCULINO,AFRO,SOLTERO,ECUADOR,NINGUNA,ESTUDIANTE,PRIMARIA,SIN_DATO,2024
30499,ASESINATO,ZONA 4,MANABI,MANTA,MARIA AUXILIADORA,13D02C08S03,MARIA AUXILIADORA 3,MANABI,13,MANTA,...,MUJER,MASCULINO,MESTIZO/A,SOLTERO,ECUADOR,NINGUNA,ESTUDIANTE,SIN_DATO,SIN_DATO,2024
30500,ASESINATO,ZONA 8,D.M. GUAYAQUIL,NUEVA PROSPERINA,FLOR DE BASTION,09D08C04S01,FLOR DE BASTION 1,GUAYAS,9,GUAYAQUIL,...,HOMBRE,MASCULINO,MESTIZO/A,SOLTERO,ECUADOR,NINGUNA,EMPLEADO,SIN_DATO,SIN_DATO,2024
30501,HOMICIDIO,ZONA 4,MANABI,MANTA,MURCIELAGO,13D02C06S02,MURCIELAGO 2,MANABI,13,MANTA,...,HOMBRE,MASCULINO,MESTIZO/A,SOLTERO,ECUADOR,NINGUNA,COMERCIANTE,SIN_DATO,SIN_DATO,2024
30502,ASESINATO,ZONA 8,D.M. GUAYAQUIL,PORTETE,CISNE,09D04C01S03,CISNE 3,GUAYAS,9,GUAYAQUIL,...,HOMBRE,MASCULINO,MESTIZO/A,SOLTERO,ECUADOR,NINGUNA,ESTUDIANTE,BASICA,SIN_DATO,2024

### Crear un dataframe que agrupé los datos por Provincia

In [46]:
df_provinciales=df.groupby(["Año","provincia"]).size().reset_index(name="Total_Homicidios")
df_provinciales.columns=df_provinciales.columns.str.replace(" "," ")
df_provinciales=df_provinciales.rename(columns={
    "provincia":"Provincia"
})
df_provinciales

      Año                 Provincia  Total_Homicidios
0    2014                     AZUAY                37
1    2014                   BOLIVAR                10
2    2014                     CANAR                20
3    2014                    CARCHI                 9
4    2014                CHIMBORAZO                15
..    ...                       ...               ...
258  2024               SANTA ELENA               189
259  2024  STO DGO DE LOS TSACHILAS                65
260  2024                 SUCUMBIOS               156
261  2024                TUNGURAHUA                54
262  2024          ZAMORA CHINCHIPE                10

[263 rows x 3 columns]

In [ ]:
df_provinciales

reemplazos={"BOLIVAR":"BOLÍVAR",
            "CANAR":"CAÑAR",
            "LOS RIOS":"LOS RÍOS",
            "MANABI":"MANABÍ",
            "SUCUMBIOS":"SUCUMBÍOS"
            }

df_provinciales["Provincia"]=df_provinciales["Provincia"].replace(reemplazos,regex=False)
df_provinciales

### Se importa los datos poblacionales de cada provincia para calcular la tasa de homicidio por 100.mil habitantes

In [ ]:
pb=pd.read_excel("Data\\Poblacion.xlsx",sheet_name=3,skiprows=1)

pb=pb.rename(columns={
    "Unnamed: 0":"Provincia"
})

pb["Total_Habitantes"]=pb["Hombre"]+pb["Mujer"]+pb["Indefinido1"]
pb["Provincia"]=pb["Provincia"].str.upper()

pb["Provincia"]=pb["Provincia"].str.replace("SANTO DOMINGO DE LOS TSÁCHILAS","STO DGO DE LOS TSACHILAS",regex=False)
pb["Provincia"]=pb["Provincia"].str.replace("NO REGISTRA2","ZONA NO DELIMITADA",regex=False)
pb

                   Provincia   Hombre    Mujer  Indefinido1  Total_Habitantes
0             TOTAL NACIONAL  8867340  8878863           55          17746258
1                      AZUAY   391686   429694            0            821380
2                    BOLÍVAR   104711   106821            0            211532
3                      CAÑAR   116988   129659            0            246647
4                     CARCHI    90235    90264            0            180499
5                   COTOPAXI   241565   250279            0            491844
6                 CHIMBORAZO   241583   260181            0            501764
7                     EL ORO   367187   354964            0            722151
8                 ESMERALDAS   312339   304155            0            616494
9                     GUAYAS  2206835  2195129            0           4401964
10                  IMBABURA   247779   255166            0            502945
11                      LOJA   256578   259586            0            516164
12                  LOS RÍOS   481440   462379            0            943819
13                    MANABÍ   845137   824848            0           1669985
14           MORONA SANTIAGO   108200   106025            0            214225
15                      NAPO    72176    69733            0            141909
16                   PASTAZA    60890    60042            0            120932
17                 PICHINCHA  1570216  1619978            0           3190194
18                TUNGURAHUA   286667   299095            0            585762
19          ZAMORA CHINCHIPE    61937    58767            0            120704
20                 GALÁPAGOS    15663    14980            0             30643
21                 SUCUMBÍOS   117638   108632            0            226270
22                  ORELLANA   101683    93428            0            195111
23  STO DGO DE LOS TSACHILAS   259977   255391            0            515368
24               SANTA ELENA   198591   193552            0            392143
25        ZONA NO DELIMITADA   109639    76115           55            185809

In [29]:
from pandasgui import show

In [70]:
Tasa_provincial=pd.merge(df_provinciales,pb ,on="Provincia",how="left")
Tasa_provincial["Total_Habitantes"]=Tasa_provincial["Total_Habitantes"].fillna(0).astype(int)
Tasa_provincial

,Año,Provincia,Total_Homicidios,Hombre,Mujer,Indefinido1,Total_Habitantes
0,2014,AZUAY,37,391686.0,429694.0,0.0,821380
1,2014,BOLÍVAR,10,104711.0,106821.0,0.0,211532
2,2014,CAÑAR,20,116988.0,129659.0,0.0,246647
3,2014,CARCHI,9,90235.0,90264.0,0.0,180499
4,2014,CHIMBORAZO,15,241583.0,260181.0,0.0,501764
...,...,...,...,...,...,...,...
258,2024,SANTA ELENA,189,198591.0,193552.0,0.0,392143
259,2024,STO DGO DE LOS TSACHILAS,65,259977.0,255391.0,0.0,515368
260,2024,SUCUMBÍOS,156,117638.0,108632.0,0.0,226270
261,2024,TUNGURAHUA,54,286667.0,299095.0,0.0,585762
262,2024,ZAMORA CHINCHIPE,10,61937.0,58767.0,0.0,120704

### Crear funcion para calcular tasa de homicidios

In [75]:
def tasa_homicidios(homicidios,habitantes):
    if habitantes==0 or pd.isnull(habitantes):
        return 0
    tasa=(homicidios/habitantes)*100000
    tasa=round(tasa,1)
    return tasa

### Aplicar funcion al dataframe

In [82]:
Tasa_provincial["Tasa_Homicidios"]= Tasa_provincial.apply(
    lambda row:tasa_homicidios(row["Total_Homicidios"],row["Total_Habitantes"]),axis=1
)

Tasa_provincial=Tasa_provincial[["Año","Provincia","Total_Homicidios","Total_Habitantes","Tasa_Homicidios"]]

Tasa_provincial

,Año,Provincia,Total_Homicidios,Total_Habitantes,Tasa_Homicidios
0,2014,AZUAY,37,821380,4.5
1,2014,BOLÍVAR,10,211532,4.7
2,2014,CAÑAR,20,246647,8.1
3,2014,CARCHI,9,180499,5.0
4,2014,CHIMBORAZO,15,501764,3.0
...,...,...,...,...,...
258,2024,SANTA ELENA,189,392143,48.2
259,2024,STO DGO DE LOS TSACHILAS,65,515368,12.6
260,2024,SUCUMBÍOS,156,226270,68.9
261,2024,TUNGURAHUA,54,585762,9.2
262,2024,ZAMORA CHINCHIPE,10,120704,8.3

In [83]:
Tasa_provincial.to_csv("Data_Procesada\\Tasa_Homicidios.csv",index=False)